* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: #384047;
  background-color: #dcdcdc;
  font-weight: 300;
}

header {
  background-color: #2e3438;
  height: 75px;
}

header h1 {
  margin: 0;
  color: #fff;
  padding-top: 15px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}

#banner,
footer {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

#banner h1 {
  font-size: 1.25em;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 7px;
}

#banner p {
  margin: 0;
  padding-bottom: 20px;
}

form {
  max-width: 100%;
  background-color: #dcdcdc;
  margin: 0 auto;
  padding-top: 4px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea,
select {
  background-color: #f5f5f5;
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  color: #2e3438;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  -webkit-transition:  all .5s ease-in-out;
  transition:  all .5s ease-in-out;
}

input[id="zip"] {
  width: 50%;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
  background-color: #e8eeef;
}

textarea {
  height: 100px;
}

select {
  height: 50px;
}

fieldset {
  border: none;
  padding-bottom: 0;
}

legend {
  font-size: 1.4em;
  font-weight: 400;
  margin-bottom: 10px;
  padding-top: 20px;
  border-top: 2px solid #2e3438;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  display: inline-block;
  padding: 5px;
}

.newsletter {
  padding-bottom: 15px;
}

button {
  font-size: 18px;
  font-weight: 400;
  color: #FFF;
  background-color: steelblue;
  width: 100%;
  padding: 18px 0;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
}

footer p {
  font-style: italic;
}

::-webkit-input-placeholder {
  text-align: right;
  font-style: italic;
  padding-right: 3px;
}

::-moz-placeholder { /* Firefox 19+ */
  text-align: right;
  font-style: italic;
  padding-right: 3px;
}

::-ms-input-placeholder { /*IE + Edge*/
  text-align: right;
  font-style: italic;
  padding-right: 5px;
}

input:focus,
select:focus,
textarea:focus {
  background-color: #b0c4de;
  border: 1px solid;
}

@media screen and (min-width: 760px) {

  body {
    background: steelblue;
  }

  #banner {
    max-width: 600px;
  }

  form {
    max-width: 700px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 15px;
  }

  label {
    padding: 15px;
  }

  .contact input[type="text"],
  .contact input[type="password"],
  .contact input[type="email"],
  .contact input[type="tel"],
  .contact select {
    width: 70%;
  }

  .contact input[name="user_zip"] {
    width: 25%;
  }

  .contact label {
    width: 30% ;
    float: left;
  }

  button {
    font-size: 20px;
  }


}


